.list {
	position: relative;
	display: inline-block;
	width: 100%;

	li {
		display: inline-block;
		position: relative;
		width: 100%;
		padding: 16px 5px;
		@include border-box-sizing;
		border-bottom: 1px solid $grigio;
		text-align: center;

		&:last-child {
			border:none;
		}

		a {
			display: inline-block;
			position: relative;
			width: 100%;
			height: 100%;
		}

		.first-part {
			float: left;
			text-align: left;
			display: block;
		}

		.second-part {
			float: right;
			text-align: right;
			font-style: italic;
			display: block;
		}
	}
}