<header car-header></header>

<section class="main-section">
	<ul entries-list class="list">
	</ul>
</section>

<!--<footer>
	<a href="#/add-entry">
		<span class="main-button">
			<img src="assets/images/ui/plus.svg">
		</span>
	</a>
</footer>-->