<li class="car-el list-el" ng-repeat="car in cars" ng-controller="carListElCtrl" ng-swipe-left="apriCancella()" ng-swipe-right="chiudiCancella()" ng-show="elementoVisibile">
	<a href="#/cars/{{car._id}}">
		<div class="first-part">
			<h2><strong>{{car.marca}}</strong>   {{car.modello}}</h2>
		</div>
		<div class="second-part deleter-animation" ng-show="!deleterAperto" ng-animate="deleter-animation" data-id="{{car._id}}">
			<h2><strong>{{car.mediaLitri}}</strong>   km/l</h2>
		</div>
	</a>
	<div class="deleter deleter-animation" ng-show="deleterAperto" ng-animate="deleter-animation" ng-click="deleteCar('{{car._id}}')">
		<img src="assets/images/ui/delete.svg">
	</div>
</li>
<li class="list-el">
	<a href="#/cars/add-car">
		<h2>{{addMessage}}</h2>
	</a>
</li>