/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700,800,900);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

a {
  display: inline-block;
  text-decoration: none;
  color: none; }

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
  letter-spacing: 1px; }
  h1 strong {
    font-weight: 800; }
  h1 small {
    font-size: 14px; }

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  letter-spacing: 1px; }
  h2 strong {
    font-weight: 700; }

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; }

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: italic; }

form {
  color: white; }
  form label {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center; }
  form input {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: white; }

html {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black; }

body {
  position: relative;
  width: 320px;
  height: 568px;
  margin: 0 auto;
  padding: 25px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }

header {
  position: relative;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 30%;
  min-height: 30%;
  padding: 10px 10px 25px 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  text-align: center;
  display: inline-block; }
  header #account {
    position: relative;
    margin: 0 auto; }
    header #account .profile-img {
      position: relative;
      display: inline-block;
      height: 75px;
      width: 75px;
      border-radius: 100%;
      overflow: hidden; }
      header #account .profile-img img {
        position: relative;
        width: 100%;
        height: auto; }
    header #account h1 {
      position: relative;
      display: inline-block;
      margin: 10px auto;
      width: 100%; }
  header #car-name {
    display: inline-block;
    position: relative;
    width: 60%; }
    header #car-name small {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
    header #car-name strong {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      margin-top: 5px; }
  header .up-ui {
    display: inline-block;
    position: relative;
    width: 18%; }
    header .up-ui img {
      width: 18px; }
  header .first-container {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    margin-bottom: 20px; }
  header .second-container {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    margin: 20px auto 15px; }
    header .second-container ul {
      position: relative;
      margin: 0 auto;
      width: 100%; }
      header .second-container ul li {
        position: relative;
        margin: 0 20px;
        display: inline-block;
        text-align: center;
        color: #53d4f8; }
        header .second-container ul li:nth-child(2) {
          color: #49e4ab; }
          header .second-container ul li:nth-child(2) h4 {
            font-size: 18px; }

.full-border {
  position: relative;
  margin: 0;
  height: 1px;
  width: 100%;
  display: inline-block;
  background: #53d4f8;
  background: -moz-linear-gradient(90deg, #53d4f8 0%, #49e4ab 100%);
  background: -webkit-gradient(linear, top, bottom, color-stop(0%, #53d4f8), color-stop(100%, #49e4ab));
  background: -webkit-linear-gradient(90deg, #53d4f8 0%, #49e4ab 100%);
  background: -o-linear-gradient(90deg, #53d4f8 0%, #49e4ab 100%);
  background: -ms-linear-gradient(90deg, #53d4f8 0%, #49e4ab 100%);
  background: linear-gradient(90deg, #53d4f8 0%, #49e4ab 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$blu', endColorstr='$verde',GradientType=1 ); }

.main-section {
  position: relative;
  width: 100%;
  height: 70%;
  padding: 10px 10px 20px 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  overflow-y: scroll; }
  .main-section form li {
    border: none; }
  .main-section form label {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px; }
  .main-section form input {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    height: 40px;
    background: none;
    border: 1px solid #9b9b9b; }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  height: 90px;
  width: 100%;
  background: #53d4f8;
  background: -moz-linear-gradient(0deg, black 70%, transparent 100%);
  background: -webkit-gradient(linear, top, bottom, color-stop(70%, black), color-stop(100%, transparent));
  background: -webkit-linear-gradient(0deg, black 70%, transparent 100%);
  background: -o-linear-gradient(0deg, black 70%, transparent 100%);
  background: -ms-linear-gradient(0deg, black 70%, transparent 100%);
  background: linear-gradient(0deg, black 70%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$nero', endColorstr='$trasparente',GradientType=1 ); }
  footer .main-button {
    position: relative;
    display: inline-block;
    margin: 30px auto 0;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: #53d4f8;
    background: -moz-linear-gradient(0deg, #53d4f8 0%, #49e4ab 100%);
    background: -webkit-gradient(linear, top, bottom, color-stop(0%, #53d4f8), color-stop(100%, #49e4ab));
    background: -webkit-linear-gradient(0deg, #53d4f8 0%, #49e4ab 100%);
    background: -o-linear-gradient(0deg, #53d4f8 0%, #49e4ab 100%);
    background: -ms-linear-gradient(0deg, #53d4f8 0%, #49e4ab 100%);
    background: linear-gradient(0deg, #53d4f8 0%, #49e4ab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$blu', endColorstr='$verde',GradientType=1 );
    border: 4px solid white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box; }
    footer .main-button img {
      width: 30px;
      margin-top: 11px; }

#provvisorio {
  position: fixed;
  bottom: 0; }

#sign {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%); }
  #sign .sign {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
    display: inline-block; }
    #sign .sign.change {
      background: #53d4f8;
      background: -moz-linear-gradient(0deg, #53d4f8 0%, #49e4ab 100%);
      background: -webkit-gradient(linear, top, bottom, color-stop(0%, #53d4f8), color-stop(100%, #49e4ab));
      background: -webkit-linear-gradient(0deg, #53d4f8 0%, #49e4ab 100%);
      background: -o-linear-gradient(0deg, #53d4f8 0%, #49e4ab 100%);
      background: -ms-linear-gradient(0deg, #53d4f8 0%, #49e4ab 100%);
      background: linear-gradient(0deg, #53d4f8 0%, #49e4ab 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$blu', endColorstr='$verde',GradientType=1 );
      margin-top: 0px;
      margin-bottom: 50px; }
    #sign .sign.facebook {
      background: #3b5998; }
    #sign .sign.twitter {
      background: #00aced; }
    #sign .sign.google {
      background: #dd4b39; }
    #sign .sign:last-child {
      margin-bottom: 0px; }
    #sign .sign h2 {
      font-weight: 700;
      letter-spacing: 3px;
      line-height: 50px;
      text-transform: uppercase; }

.deleter {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px; }
  .deleter img {
    height: 18px;
    margin-top: 16px; }

.list {
  position: relative;
  display: inline-block;
  width: 100%; }
  .list li {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 16px 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    border-bottom: 1px solid #9b9b9b;
    text-align: center; }
    .list li:last-child {
      border: none; }
    .list li a {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 100%; }
    .list li .first-part {
      float: left;
      text-align: left;
      display: block; }
    .list li .second-part {
      float: right;
      text-align: right;
      font-style: italic;
      display: block; }

/*# sourceMappingURL=style.css.map */
