<header car-header></header>


<section class="main-section">
	<form name="add-entry">
		<ul class="list">
			<li class="list-el" ng-show="carBifuel">
				<label>Fuel</label>
				<select type="number" name="kilometers" ng-model="fuel">
					<option value="{{alPrimaria}}">{{alPrimaria}}</option>
					<option value="{{alSecondaria}}">{{alSecondaria}}</option>
				</select>
			</li>
			<li class="list-el">
				<label>Kilometers</label>
				<input type="number" name="kilometers" ng-model="kilometers">
			</li>
			<li class="list-el">
				<label>Euro/liter</label>
				<input type="number" name="price" ng-model="price">
			</li>
			<li class="list-el">
				<label>Total cost</label>
				<input type="number" name="paid" ng-model="paid">
			</li>
			<li class="list-el">
				<label>Full</label>
				<input type="checkbox" name="full" ng-model="full">
			</li>
			<li class="list-el">
				<button ng-click="create()">Add this</button>
			</li>
		</ul>
	</form>
</section>

<!--<footer>
	<span id="save-entry" class="main-button">
		<img src="assets/images/ui/plus.svg">
	</span>
</footer>-->