<header user-header></header>

<section class="main-section">
	<form name="add-car">
		<ul class="list">
			<li class="list-el">
				<label>Marca</label>
				<input type="text" name="marca" ng-model="marca">
			</li>
			<li class="list-el">
				<label>Modello</label>
				<input type="text" name="modello" ng-model="modello">
			</li>
			<li class="list-el">
				<label>Alimentazione primaria</label>
				<select name="alPrimaria" ng-model="alPrimaria">
					<option value="benzina">Benzina</option>
					<option value="diesel">Diesel</option>
					<option value="gas">Gas</option>
					<option value="metano">Metano</option>
				</select>
			</li>
			<li class="list-el">
				<label>Bifuel?</label>
				<input type="checkbox" name="bifuel" ng-model="bifuel">
			</li>
			<li class="list-el">
				<label>Alimentazione secondaria</label>
				<select name="alSecondaria" ng-model="alSecondaria">
					<option value="benzina">Benzina</option>
					<option value="diesel">Diesel</option>
					<option value="gas">Gas</option>
					<option value="metano">Metano</option>
				</select>
			</li>
			<li class="list-el">
				<button ng-click="create()">Add this</button>
			</li>
		</ul>
	</form>
</section>