<li class="list-el" ng-repeat="entry in entries | orderBy:'entry.creata'" ng-controller="entryListElCtrl" ng-swipe-left="apriCancella()" ng-swipe-right="chiudiCancella()" ng-show="elementoVisibile">
	<a href="#/cars/{{carId}}/{{entry._id}}/edit-entry">
		<div class="first-part">
			<h2>{{entry.creata | date}}</h2>
		</div>
		<div class="second-part deleter-animation" ng-show="!deleterAperto" ng-animate="deleter-animation">
			<h2><strong>{{entry.paid}}</strong>   €</h2>
		</div>
	</a>
	<div class="deleter deleter-animation" ng-show="deleterAperto" ng-animate="deleter-animation" ng-click="deleteEntry('{{entry._id}}')">
		<img src="assets/images/ui/delete.svg">
	</div>
</li>
<li class="list-el">
	<a href="#/cars/{{carId}}/add-entry">
		<h2>{{addMessage}}</h2>
	</a>
</li>