$nero: rgb(0, 0, 0);
$grigio: rgb(155, 155, 155);
$bianco: rgb(255, 255, 255);
$trasparente: rgba(0, 0, 0, 0);

$blu: rgb(83, 212, 248);
$verde: rgb(73, 228, 171);

$facebook-color: rgb(59, 89, 152);
$twitter-color: rgb(0, 172, 237);
$google-color: rgb(221, 75, 57);