@mixin gradient ($deg) {
	background: $blu;
	background: -moz-linear-gradient($deg, $blu 0%, $verde 100%);
	background: -webkit-gradient(linear, top, bottom, color-stop(0%,$blu), color-stop(100%,$verde));
	background: -webkit-linear-gradient($deg, $blu 0%,$verde 100%);
	background: -o-linear-gradient($deg, $blu 0%,$verde 100%);
	background: -ms-linear-gradient($deg, $blu 0%,$verde 100%);
	background: linear-gradient($deg, $blu 0%,$verde 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$blu', endColorstr='$verde',GradientType=1 );
}

@mixin gradient-dark ($deg) {
	background: $blu;
	background: -moz-linear-gradient($deg, $nero 70%, $trasparente 100%);
	background: -webkit-gradient(linear, top, bottom, color-stop(70%,$nero), color-stop(100%,$trasparente));
	background: -webkit-linear-gradient($deg, $nero 70%,$trasparente 100%);
	background: -o-linear-gradient($deg, $nero 70%,$trasparente 100%);
	background: -ms-linear-gradient($deg, $nero 70%,$trasparente 100%);
	background: linear-gradient($deg, $nero 70%,$trasparente 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$nero', endColorstr='$trasparente',GradientType=1 );
}

@mixin gradient-border ($top, $right, $bottom, $left) {
    border-width: $top $right $bottom $left;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from($blu), to($verde)) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(right, $blu, $verde) 1 100%;
    -moz-border-image: -moz-linear-gradient(right, $blu, $verde) 1 100%;  
    -o-border-image: -o-linear-gradient(right, $blu, $verde) 1 100%;
    border-image: linear-gradient(to right, $blu, $verde) 1 100%; 
}

@mixin border-box-sizing {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

@mixin circular-div ($dim) {
	height: $dim;
	width: $dim;
	border-radius: 100%;
}

@mixin centraVerticale {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}