<section class="first-container">

	<div class="up-ui left">
		<a href="#/cars/{{car._id}}">
			<img src="assets/images/ui/back.svg">
		</a>
	</div>
	<div id="car-name">
		<h1><small>{{car.marca}}</small> <strong>{{car.modello}}</strong></h1>
	</div>
	<div class="up-ui right">
		<a href="#/cars/{{car._id}}/edit-car">
			<img src="assets/images/ui/gear.svg">
		</a>
	</div>
	
</section>

<section class="second-container">
	<ul>
		<li>
			<h5>km</h5>
			<h4>{{kmTotale}}</h4>
		</li>
		<li>
			<h5>km/l</h5>
			<h4>{{mediaTotale}}</h4>
		</li>
		<li>
			<h5>€</h5>
			<h4>{{paidTotale}}</h4>
		</li>
	</ul>
</section>

<span class="full-border"></span>