<header user-header></header>

<section class="main-section" ng-init="findOne()">
	<form name="edit-car">
		<ul class="list">
			<li class="list-el">
				<label>Marca</label>
				<input type="text" name="marca" ng-model="car.marca">
			</li>
			<li class="list-el">
				<label>Modello</label>
				<input type="text" name="modello" ng-model="car.modello">
			</li>
			<li class="list-el">
				<label>Alimentazione primaria</label>
				<select name="alPrimaria" ng-model="car.alPrimaria">
					<option value="benzina">Benzina</option>
					<option value="diesel">Diesel</option>
					<option value="gas">Gas</option>
					<option value="metano">Metano</option>
				</select>
			</li>
			<li class="list-el">
				<label>Bifuel?</label>
				<input type="checkbox" name="bifuel" ng-model="car.bifuel">
			</li>
			<li class="list-el">
				<label>Alimentazione secondaria</label>
				<select name="alSecondaria" ng-model="car.alSecondaria">
					<option value="benzina">Benzina</option>
					<option value="diesel">Diesel</option>
					<option value="gas">Gas</option>
					<option value="metano">Metano</option>
				</select>
			</li>
			<li class="list-el">
				<button ng-click="update()">Update this</button>
			</li>
		</ul>
	</form>
</section>