<section id="sign" ng-show="!authentication">
	
	<div class="sign">
		<h2>{{afterGoogle}}</h2>
	</div>
	
	<div class="sign">
		<h2>please log in</h2>
	</div>

	<a class="sign facebook" ng-click="accessFacebook()">
		<h2>Facebook</h2>
	</a>

	<a class="sign google" ng-click="accessGoogle()">
		<h2>Google</h2>
	</a>

</section>