html {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $nero;
}

body {
	position: relative;
	width: 320px;
	height: 568px;
	margin: 0 auto;
	padding: 25px;
	@include border-box-sizing;
}

header {
	position: relative;
	@include span(full);
	height: 30%;
	min-height: 30%;
	padding: 10px 10px 25px 10px;
	@include border-box-sizing;
	text-align: center;
	display: inline-block;

	#account {
		position: relative;
		margin: 0 auto;

		.profile-img {
			position: relative;
			display: inline-block;
			@include circular-div(75px);
			overflow: hidden;

			img {
				position: relative;
				width: 100%;
				height: auto;
			}
		}

		h1 {
			position: relative;
			display: inline-block;
			margin: 10px auto;
			width: 100%;
		}
	}

	#car-name {
		display: inline-block;
		position: relative;
		width: 60%;

		small {
			@include span(full);
		}

		strong {
			@include span(full);
			margin-top: 5px;
		}
	}

	.up-ui {
		display: inline-block;
		position: relative;
		width: 18%;

		img {
			width: 18px;
		}
	}

	.first-container {
		@include span(full);
		position: relative;
		margin-bottom: 20px;
	}

	.second-container {
		@include span(full);
		position: relative;
		margin: 20px auto 15px;

		ul {
			position: relative;
			margin: 0 auto;
			width: 100%;

			li {
				position: relative;
				margin: 0 20px;
				display: inline-block;
				text-align: center;
				color: $blu;

				&:nth-child(2) {
					color: $verde;

					h4 {
						font-size: 18px;
					}
				}
			}
		}
	}
}

.full-border {
	position: relative;
	margin: 0;
	height: 1px;
	width: 100%;
	display: inline-block;
	@include gradient (90deg);
}

.main-section {
	position: relative;
	width: 100%;
	height: 70%;
	padding: 10px 10px 20px 10px;
	@include border-box-sizing;
	display: inline-block;
	overflow: hidden;
	overflow-y: scroll;

	form {
		li {
			border:none;
		}

		label {
			@include span(full);
			margin-bottom: 5px;
		}

		input {
			@include span(full);
			height: 40px;
			background: none;
			border: 1px solid $grigio;
		}
	}
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	height: 90px;
	width: 100%;
	@include gradient-dark(0deg);

	.main-button {
		position: relative;
		display: inline-block;
		margin: 30px auto 0;
		@include circular-div(60px);
		@include gradient(0deg);
		border: 4px solid $bianco;
		@include border-box-sizing;

		img {
			width: 30px;
			margin-top: 11px;
		}
	}
}

#provvisorio {
	position: fixed;
	bottom: 0;
}

@import 'sign/main';

@import 'ui';
@import 'list-car';