#sign {
	position: absolute;
	width: 100%;
	left: 0;
	@include centraVerticale;

	.sign {
		position: relative;
		height: 50px;
		width: 100%;
		margin: 10px auto;
		text-align: center;
		display: inline-block;

		&.change {
			@include gradient(0deg);
			margin-top: 0px;
			margin-bottom: 50px;
		}

		&.facebook {
			background: $facebook-color;
		}

		&.twitter {
			background: $twitter-color;
		}

		&.google {
			background: $google-color;
		}

		&:last-child {
			margin-bottom: 0px;
		}

		h2 {
			font-weight: 700;
			letter-spacing: 3px;
			line-height: 50px;
			text-transform: uppercase;
		}
	}

}