@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700,800,900);

@mixin raleway ($size, $weight) {
	font-family: 'Raleway', sans-serif;
	font-size: $size;
	font-weight: $weight;
}

a {
	display: inline-block;
	text-decoration: none;
	color: none;
}

h1 {
	@include raleway (18px, 300);
	color: $bianco;
	letter-spacing: 1px;

	strong {
		font-weight: 800;
	}

	small {
		font-size: 14px;
	}
}

h2 {
	@include raleway (14px, 400);
	color: $bianco;
	letter-spacing: 1px;

	strong {
		font-weight: 700;
	}
}

h3 {

}

h4 {
	@include raleway (14px, 700);
	line-height: 20px;
}

h5 {
	@include raleway (12px, 400); 
	font-style: italic;
}

form {
	color: $bianco;

	label {
		@include raleway (12px, 400);
		text-align: center;
	}

	input {
		@include raleway (12px, 700);
		text-align: center;
		color: $bianco;
	}
}